<br/><br/>
<div class="container">
<div class="row" style="text-align: center;">
  <div class="col-sm-3">

  </div>
  <div class="col-sm-3">
    <input type="text" id="taskName" class="form-control" style="margin : 2px ;;">
  </div>
  <div class="col-sm-3">
    <button type="button" class="btn btn-success" style="background-color: #62DC2C;">ADD TASK</button>
  </div>

</div></div>

<br/><br/>

<div class="container" >

  <div class="row" style="padding-left: 40px;">

    <ul *ngFor="let todo of todoArray">
      <div class="card" style="width: 19rem;">
          <img src="../../assets/images/icon.png" class="card-img-top" alt="Todo Logo" style="height: 140;">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center;">{{todo.name}}</h5>
            <button type="button" class="btn btn-primary" style="float: left;">UPDATE TASK</button>
            <button type="button" class="btn btn-danger" style="float: right;">DELETE TASK</button>
          </div>
      </div>
    </ul>

  </div>

</div>


